@font-face {
	font-family: Ikarus;
	src: url("./Ikarus.woff2") format("woff2-variations");
	font-display: swap;
	unicode-range: U+00-7F, U+2014;
}

:root {
	font-family: Ikarus, system-ui;
	letter-spacing: normal;
	word-spacing: 0.05rem;
	font-kerning: normal;
	font-synthesis: none;
	text-rendering: auto;
	font-size: clamp(1rem, 0.743rem + 1.018vw, 1.5rem);
	line-height: 1.6;
}

/* Base and Typography */
html {
	background-color: #213547;
	color: #f1f1f1f5;
	height: 100%;
}

body {
	margin: 0;
	display: grid;
	place-items: center;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 1rem;
	scroll-snap-type: y mandatory;
}

/* Page Structure */
.page {
	width: 100%;
	min-width: 380px;
	max-width: 1200px;
	height: 100vh;
	overflow: hidden;
	scroll-snap-align: start;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-snap-stop: always;
}

/* Line Styling */
.line {
	outline: ridge rgba(104, 144, 238, 0.733);
	padding: 0.5em 0;
	white-space: preserve nowrap;
	text-align: left;
}

.word {
	display: inline-block;
	font-variation-settings:
		"wght" var(--wght),
		"wdth" var(--wdth),
		"ital" var(--ital),
		"cont" var(--cont);
	/* CRITICAL: Transition must be fast or 'none'.
       If you want a 'snap' tic, use none.
       If you want a 'surge', use 0.1s.
    */
	/* transition: font-variation-settings none; */
}

/* #debug-output {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 23vw;
	height: auto;
	min-height: 300px;
	max-height: 80vh;
	overflow-y: auto;
	font-family: monospace;
	font-size: 20px;
	white-space: pre;
	background: rgba(0, 0, 0, 0.7);
	padding: 20px;
	border: 1px solid #333;
	color: #0f0;
} */
