@font-face {
	font-family: Ikarus;
	src: url("./Ikarus.woff2") format("woff2-variations");
	font-display: swap;
	unicode-range: U+00-7F, U+2014;
}

@property --wght {
	syntax: "<number>";
	inherits: false;
	initial-value: 300;
}

@property --wdth {
	syntax: "<number>";
	inherits: false;
	initial-value: 100;
}

@property --ital {
	syntax: "<number>";
	inherits: false;
	initial-value: 0;
}

@property --cont {
	syntax: "<number>";
	inherits: false;
	initial-value: 0;
}

:root {
	/*
		Slope Calc
		Min viewport: 400px
		Max viewport: 1200px
	*/
	--fs-fluid: clamp(12px, 1rem + 1vw, 24px);
	--lh-fluid: clamp(20px, 1.7em, 36px);
}

/* Base and Typography */
html {
	background-color: #213547;
	color: #f1f1f1f5;
	height: 100%;
	font-family: Ikarus, system-ui;
	font-feature-settings: "liga" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss05" 1,
		"ss10" 1, "ss11" 1, "ss14" 1;
	font-kerning: normal;
	font-synthesis: none;
	text-rendering: auto;
	font-size: var(--fs-fluid);
	line-height: var(--lh-fluid);
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

#app {
	height: 100vh;
	width: 100vw;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#app::-webkit-scrollbar {
	display: none;
}

/* Page Structure */
.page {
	display: grid;
	justify-content: center;
	align-content: center;
	height: 100vh;
	width: 100%;
	min-width: 380px;
	max-width: 1200px;
	overflow: visible;
	scroll-snap-align: start;
}

/* Line Styling */
.line {
	white-space: preserve nowrap;
	text-align: left;
}

/* Word Styling KEEP KEEP KEEP*/
.word {
	font-variation-settings: "wght" var(--wght), "wdth" var(--wdth),
		"ital" var(--ital), "cont" var(--cont);
}

span {
	border: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}
